:root {
    --shadow: 6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028), 22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042), 100px 100px 80px rgba(0, 0, 0, 0.07)
}

body {
    background: rgb(235 240 245);
}

@media screen and (max-width: 1280px) {
    body {
        transform: scale(0.9);
    }
}


p {
    margin: 1em 0;
}


.title {
    font-size: 2em;
    text-align: center;
}

.frame {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    gap: 8em;
}

.result {
    height: 1em;
    margin: .75em 0;
    font-size: 3em;
    line-height: 1;
    font-weight: bold;
    text-align: center;
}

.result[data-result="0"] {
    color: orange;
}

.result[data-result="1"] {
    color: red;
}

.result[data-result="2"] {
    color: green;
}

.canvas {
    margin: 2em 0;
}

.canvas__title {
    font-size: 2em;
    font-weight: bold;
    color: rgb(187 198 209);
    text-align: center;
}

.canvas__body {
    display: block;
    margin: auto;
    background: #fff;
    border-radius: 1.5em;
    overflow: hidden;
    box-shadow: var(--shadow);
}


.controller__meter {
    width: 100%;
    height: 3em;
}

.controller__desc {
    margin: .5em 0;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
}





dialog {
    margin: auto;
    padding: 3em;
    border: 0;
    border-radius: .5em;
}

dialog::backdrop {
    background: rgba(0, 0, 0, 0.5);
}

select {
    -moz-appearance: menulist-button;
    -webkit-appearance: menulist-button;
    appearance: menulist-button;
    min-width: 20em;
    padding: .5em;
    border: 1px solid #aaa;
}


button {
    margin: 1em 0 0 0;
    background: #7e00ff;
    color: #fff!important;
    padding: .5em 2em;
    border-radius: 4em;
}